{% extends "layout.html" %}
{% block content %}


<section class="carbon"> 

    <!-- Info about the calculator -->
    <div class="infoCal"> 
        <h1> Carbon calculator </h1>
        <p> Skskskskksks</p>
        <div> 
            <button class="button">Your data</button>
            <button class="button"> Methdology</button>
        </div>

    </div>

    <!-- The transport method -->
    <div class="transportMethod"> 
        <h3 class="transportTitle"> Choose transport</h3>

        <div class="transportGrid">
            <!--Car-->
            <button class="transportButton"> 
                <div class="transportCard">
                    <i class="bi bi-car-front"></i>
                    Car

                </div>
            </button>

            <!--ferry-->
            <button class="transportButton"> 
                <div class="transportCard">
                    <i class="fa-solid fa-ferry"></i>
                    Ferry
                </div>
            </button>

            <!--Airplane-->
            <button class="transportButton">
                <div class="transportCard">
                    <i class="bi bi-airplane-engines"></i>
                    Plane
                    
                </div>
            </button>


            <!--Rail-->
            <button class="transportButton">
                <div class="transportCard">
                    <i class="bi bi-train-front"></i>
                    Rail
                    
                </div>
            </button>


        </div>


    </div>

</section>
    
{% endblock content %}